body {
    background-color: bisque;
}

.registration-form {
    width: 1100px;
    height: 600px;
    margin: 130px auto;
    border: 1px solid wheat;
    background-color: aliceblue;
    border-radius: 30px;
    box-sizing: border-box;
}



label {
    text-decoration: solid;
    font-weight: bold;
    color: black !important;
}


.btn:hover {
    background-color: wheat;
    color: black;
    font-weight: bold;
}